@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --canvas-bg: #ffffff;
}

/***** Utilities *****/
@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-thin::-webkit-scrollbar { height: 8px; width: 8px; }
  .scrollbar-thin::-webkit-scrollbar-thumb { background: theme('colors.gray.300'); border-radius: 9999px; }
  .scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
}
